---
export interface Props {
  name: string;
  year: string;
  description: string;
  source: string;
  artistName: string;
  artistImage: string;
  thumbnail?: string;
  heroSmall?: string;
  heroLarge?: string;
  galleryImage?: string;
}

const {
  name = "Artist Name",
  year = "Year",
  description = "About the painting...",
  source = "More information on the internet",
  artistName = "Artist Name",
  artistImage = "Artist Portrait",
  thumbnail,
  heroSmall,
  heroLarge,
  galleryImage,
} = Astro.props;
---

<section
  class="absolute inset-0 py-10 flex"
  data-name={name}
  data-artist={artistName}
>
  <img class="h-full object-cover" src={heroLarge} alt="" />
</section>
