---
export interface Props {
  name: string
  year: string 
  description: string
  source: string
  artistName: string
  artistImage: string
  thumbnail?: string
  heroSmall?: string
  heroLarge?: string
  galleryImage?: string
}

const {
  name = 'Artist Name',
  year = 'Year',
  description = 'About the painting...',
  source = 'More information on the internet',
  artistName = 'Artist Name',
  artistImage = 'Artist Portrait',
  thumbnail,
  heroSmall,
  heroLarge,
  galleryImage,
} = Astro.props
---

<div class="h-auto">      
        <img
          width="560px"
          height="475px"
          src={heroLarge}
          alt=""
        />
</div>



