---
import Logo from '../Logo.astro'
import Nav from '../navigation/Nav.astro'
---

<footer>
  
  <div class="footer-container">
    <div class="divider"></div>
    <Logo small />
    <small>
      Galleria | Curated art gallery | &copy; <a
        class="link-wiki"
        href="#"
        >Kimagination</a
      > License <a
        href="#"
        class="link-wiki"
        >MIT</a
      ></small
    >
  </div>
</footer>

<style>
  footer {
    @apply flex flex-col container mx-auto max-w-7xl px-8;
  }
  small {
    @apply text-dark-gray;
  }
  .footer-container {
    @apply w-full flex flex-col justify-between items-center py-8 gap-4;
  }

  .divider {
    @apply border-b-[1px] border-mid-gray w-full;
  }
  .link-wiki {
    @apply text-blue-700 text-12 underline;
  }
</style>
