---
import Logo from "../Logo.astro";
import Nav from "./Nav.astro";

export interface Props {
  isHome?: boolean;
}

const { isHome = false } = Astro.props as Props;
---

<div
  class="w-ful flex justify-between items-center py-10 border-b z-50 bg-white"
>
  <Logo />
  {isHome && <Nav />}
</div>
