---
import Logo from "../Logo.astro";
import Nav from "./Nav.astro";

export interface Props {
  isHome?: boolean;
}

const { isHome = false } = Astro.props as Props;
---

<header class="w-full">
  <div class="w-full flex justify-between items-center py-8 border-b">
    <Logo />
    {isHome && <Nav />}
  </div>
</header>
