---
import { slugify } from "../../js/utils";
import Link from "./Link.astro";
const SERVER = import.meta.env.SERVER;
const request = await fetch(SERVER + "assets/imagedata.json");
const imageData = await request.json();
const start = slugify(imageData[0].name);
---

<nav>
  <Link href={start} text="start slideshow" />
</nav>
