---
export interface Props {
  forward?: boolean;
  backward?: boolean;
  view?: boolean;
}

const {
  forward = false,
  backward = false,
  view = false,
} = Astro.props as Props;
---

<!-- Next Button  -->{
  forward && (
    <button id="next" class="hover:opacity-60 transition-all duration-200">
      <img
        width="24"
        height="24"
        src="./images/icon-next-button.svg"
        alt="back"
      />
    </button>
  )
}

<!-- Back Button  -->
{
  backward && (
    <button id="prev" class="hover:opacity-60 transition-all duration-200">
      <img
        width="24"
        height="24"
        src="./images/icon-back-button.svg"
        alt="back"
      />
    </button>
  )
}

<!-- Image View Button  -->

{
  view && (
    <div class="bg-black p-2 w-fit">
      <img width="24" src="./images/icon-view-image.svg" alt="back" />
    </div>
  )
}

<style>
  #prev.disabled,
  #next.disabled {
    @apply opacity-25 hover:cursor-default hover:opacity-25;
  }
</style>
