<div class="flex border-t-2 ">
  <h1>Navigation Control Panel</h1>
  <!-- Progress Bar -->
  <div></div>
  <!-- Current Image Information-->
  <div></div>
  <!-- Navigation Controls -->
  <div>
    <!-- Next Slide -->
    <div></div>
    <!-- Previous Slide -->
    <div></div>
  </div>
</div>
