<div class="border-t py-6">
  <h4>Navigation Control Panel</h4>
  <!-- Progress Bar -->
  <div></div>
  <!-- Current Image Information-->
  <div></div>
  <!-- Navigation Controls -->
  <div>
    <!-- Next Slide -->
    <div></div>
    <!-- Previous Slide -->
    <div></div>
  </div>
</div>
