---
import HomeLayout from '../layouts/HomeLayout.astro'
---

<HomeLayout title="Home">
  <div>
    <h1>Welcome to galleria</h1>
    <h2>Welcome</h2>
    <h3>Welcome to galleria</h3>
  </div>
</HomeLayout>
