---
import HomeLayout from '../layouts/HomeLayout.astro'
import { slugify } from '../js/utils.js'
---

<HomeLayout title="Home">
  <section class="galleria-grid">
    {/*Home Page contents */}
  </section>
</HomeLayout>

<style>
  section {
    @apply h-screen bg-yellow-50 container mx-auto;
  }
</style>
