---
import HomeLayout from "../layouts/HomeLayout.astro";

import HomeGrid from "../components/presentation/HomeGrid.astro";
---

<HomeLayout title="Home">
  <section class="galleria min-h-screen relative">
    {/*Home Page contents */}
    <HomeGrid />
  </section>
</HomeLayout>

'https://galleria-server.onrender.com/'
