---
import HomeLayout from '../layouts/HomeLayout.astro'
---

<HomeLayout title="Home">
  <div class="flex flex-col gap-10">
    <div class="display">Display</div>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <p>Paragraph</p>
    <a
      class="link-big"
      href=""
      >Link Big</a
    >
    <a
      class="link-small"
      href=""
      >Link Small</a
    >
    <p class="subhead1">SubHead 1</p>
    <p class="subhead2">SubHead 2</p>
  </div>
</HomeLayout>
