---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/navigation/Header.astro'
import Footer from '../components/navigation/Footer.astro'
import Controls from '../components/presentation/Controls.astro'
const { title } = Astro.props
---

<html lang="en">
  <BaseHead title={`Galleria | ${title}`} />
  <body class="h-screen flex flex-col justify-between">
    <Header />
    <main class="h-full">
      <slot />
    </main>
    <Controls />
  </body>
</html>
