@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-serif font-bold;
  }
  main {
  }
}

@layer components {
  .display {
    @apply text-200 leading-[12.5rem] text-low-gray;
  }
  .subhead1 {
    @apply text-15 leading-19;
  }
  .subhead2 {
    @apply text-13 leading-17;
  }
  .link-big {
    @apply text-12 leading-15 tracking-[0.156rem] text-dark-gray;
  }
  .link-small {
    @apply text-9 leading-11 tracking-[0.125rem] text-dark-gray underline;
  }
}
